body {
  margin: 0;
  height: 100vh;
  background-color: cyan;
}
i {
  color: white;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
#app{
  display:flex;
  height: 100%;
  width: 100%;
}
/* Icons */
.fa-bars{
  font-size: 2em;
}
.fa-times{
  position: relative;
  top: -60px;
  left: 20px;
}
.fa-search{
  color: #bdbdbd;
  font-size: 1.4em;
  position:relative;
  top: -30px;
  left: 250px;
  cursor: pointer;
}
.fa-user{
  color: #e86060;
  font-size: 1.4em;
}
#display-ico .fa-play{
  position:relative;
  font-size: 6em;
  top:-195px;
  right:-110px;
  cursor: pointer;
}
#card-icons .fa-play{
  position:relative;
  font-size: 3em;
  top:-125px;
  right:-75px;
  cursor: pointer;
}
#card-icons .fa-ellipsis-v{
  position:relative;
  font-size: 1.2em;
  top:-210px;
  right:-125px;
  cursor: pointer;
}
/* toggle class */
.selected{
  padding-left:.4em;
}
.navbar-open{
  position: absolute !important;
  display:inline-block !important;
  height: 100% !important;
  width:70% !important;
  z-index: 1 !important;
}
.navbar-open-ico{
  display:inline-block !important;
}
